<!DOCTYPE html>

<html>
    <head>
        <title>Cotações</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        
    </head>

    <body>
        <div class="main-content">
            {{> header}}

            <p>Procure por um ativo</p>

            <form>
                <input type="text" placeholder="Ativo">
                <button>Buscar</button>
            </form>

            <h3></h3>
            <p id='p1'></p>
            <p id='p2'></p>
            <p id='p3'></p>
            <p id='p4'></p>

        </div>
        {{> footer}}
        <script src="/js/script.js"></script>
    </body>
</html>